# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpbryk_3
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpuilpup
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
*.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp107yif
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpm0qhfu
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp4gzeco
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpvtjhij
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpydw0po
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpzqmrsr
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
*.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpytnihu
condition utilisation tchat et prodhuis lier.docx
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpxpf92f
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpvyfhek
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmprnzub_
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpl_mmb2
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpdvyzml
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpdmystg
serveur/serveur.pro.user
serveur/serveur.pro.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmprlrm0z
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpnmlrcw
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpggsu9u
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmppaju_0
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpci5tax
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp7ncs4a
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_succees.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_succees.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpzixqva
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpacmmlo
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpyxn6pa
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmppcuoen
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpuonuaz
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpkdk65k
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp8e1umx
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp2wi9bc
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_succees.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_succees.h
