# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpbryk_3
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpuilpup
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
*.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp107yif
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpm0qhfu
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp4gzeco
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpvtjhij
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpydw0po
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpzqmrsr
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_remouvefile.h
*.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpytnihu
condition utilisation tchat et prodhuis lier.docx
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpxpf92f
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpvyfhek
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmprnzub_
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpl_mmb2
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpdvyzml
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpdmystg
serveur/serveur.pro.user
serveur/serveur.pro.user
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmprlrm0z
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpnmlrcw
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpggsu9u
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmppaju_0
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpci5tax
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp7ncs4a
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_succees.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_succees.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpzixqva
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpacmmlo
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpyxn6pa
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmppcuoen
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpuonuaz
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpkdk65k
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp8e1umx
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp2wi9bc
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_succees.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_succees.h
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpddnbnx
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpdhvptr
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp5zuzz5
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp6mecn8
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp816h7l
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpkrnkoy
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpkytgqo
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmps33bxx
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmphytmfl
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp2yps4b
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp1btdag
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpxj0_bo
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmptpvc5e
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpwo8rnt
*.stash
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Debug
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile.Release
*.Debug
*.Release
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpbvnncm
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpmsxf4u
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpsqibj9
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpzgduqm
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/Makefile
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpijwbwf
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/ui_widget.h
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/release/moc_widget.cpp
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/release/qrc_resource.cpp
build-serveur-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_resource.cpp
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/Makefile
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/Makefile
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpnrbfkk
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmprw26s6
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpyyta0x
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmp0biss6
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpw2q_r4
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmp9xbsb4
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpaa_vvq
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmphtr7ts
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpujgkfx
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpwnpqkz
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpxd6_xl
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Release/ui_widget.h
*.dat
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/release/moc_parametre.cpp
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/release/moc_predefs.h
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/release/moc_remouvefile.cpp
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/release/moc_succees.cpp
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/ui_parametre.h
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/ui_remouvefile.h
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/ui_succees.h
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmp09k0p_
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/color.ini
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/moc_moreinformation.cpp
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/moc_parametre.cpp
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/moc_predefs.h
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/moc_succees.cpp
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/debug/moc_widget.cpp
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/Makefile
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/test.qss
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/ui_moreinformation.h
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/ui_parametre.h
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/ui_succees.h
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/ui_widget.h
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp4ucmex
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp6r662r
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp7gsljm
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp7t3f0v
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp7w6fxb
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp8y7vum
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmp9g3pdl
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpeb4xkz
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpicqcf_
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpih25ki
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpypoj5d
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpyjjjhv
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpxsefke
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpv2pij9
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpuowacx
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpueanhx
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmptdwekt
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpo6maol
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpmq8wu6
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpl9wk7u
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpiuneob
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpk18ygp
client/build-chat-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/userseneepappdatalocaltemptmpl5vkpi
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmp4qz4kf
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpq3phky
build-serveur-Desktop_Qt_5_15_1_MinGW_64_bit-Release/userseneepappdatalocaltemptmpsrqg4x
